.ContactForm {
  display: flex;
  flex-wrap: wrap;
  height: 125px;
  justify-content: center;
  padding: 15px 0px;
  background-color: #001422;
  background: linear-gradient(180deg, #002e4f, #00253f, #001627);
}

.ContactFormInput {
  width: 200px;
  height: 25px;
  margin: 0px 11px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #6e6e6e;
  color: #8f8f8f;
  font-size: 20px;
  background-color: transparent;
  font-style: italic;
}

.ContactFormInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a7;
}

.AddButton {
  display: block;
  width: 145px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 0.5em;
  color: #656565;
  font-size: 17px;
  margin: 20px 0px;
  font-weight: 300;
  transition: 350ms;
  background-color: #001422;
}

.AddButton:hover {
  border: none;
  font-size: 15px;
  color: #b4b2b2;
  background-color: #0049777c;
}
