.ContactFilterLabel {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #002c5ba4;
  background: linear-gradient(180deg, #001627, #00253f, #002e4f);
}
.ContactFilterInput {
  width: 250px;
  height: 50px;
  margin: 0px 15px;
  padding: 20px;
  border: none;
  width: 200px;
  height: 25px;
  margin: 0px 11px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #6e6e6e;
  color: #8f8f8f;
  font-size: 20px;
  background-color: transparent;
  font-style: italic;
}

.ContactFilterInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a7;
}
