@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #000305;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
y code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HomeworkTitle {
  position: absolute;
  top: 3%;
  left: 3%;
  color: #a7a6a61a;
  font-size: 15px;
  font-style: italic;
  font-weight: 200;
}

.AppBox {
  border-radius: 1.5em;
  border: none;
  border: 1px solid #192127;
  background: #000000b7;
  padding: 0;
  width: 500px;
  height: 690px;
  overflow: hidden;
  margin: 25px auto;
}
